$dark: #222831;
$dark-gray: #313131;
$gray: #414141;
$orange: #ffd700;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
$font: 'Noto Sans JP', sans-serif;